// src/theme/variables.scss
:root {
  --ion-color-primary: #e63946; 
  --ion-color-primary-rgb: 230, 57, 70;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #cc2e3d;
  --ion-color-primary-tint: #ec5a5e;

  // Otros colores
  --ion-color-secondary: #f1faee;
  --ion-color-tertiary: #a8dadc;
  --ion-color-medium: #457b9d;
  --ion-color-dark: #1d3557;
}
