// Gary Campusano 2022-1022
:root {
  --ion-color-primary: #ff0000;
  --ion-color-primary-rgb: 230, 57, 70;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #cc2e3d;
  --ion-color-primary-tint: #ec5a5e;

}
